@import "../../variables";

.kip-provider-list {
    .label {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 24px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    ul {

        max-width: 200px;

        li:not(:last-of-type) {
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .bulma-button:not(.bulma-is-success) {
        color: #555;
        width: 100%;
    }
}
