@import "../variables";

.kip-app-selector {
    .kip-logout-link {
        float: right;
    }
    .kip-card-content {
        width: 100%;
        margin: 0 auto;
        max-width: 250px;
        p {
            margin-top: map-get($kip-space, md);
        }
    }

    .kip-app-list {

        .label {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 24px;
        }
        .list {
            display: inline-block;
            width: 100%;
        }
        .item:not(:last-of-type) {
            margin-bottom: 1em;
        }
        .bulma-button {
            @include font-muli;
            width: 200px;
            justify-content: left;

            .bulma-icon {
                margin-right: map-get($kip-space, sm);
            }
        }
        .bulma-button:not(.bulma-is-success) {
            color: #555;
        }
    }

}
