@import "../variables";

li.kip-nav-item {
    border-radius: 0;
    a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 12px 14px;
        border-radius: 0;
        .icon {
            float: left;
            width: 30px;

            &.is-small {
                width: 20px;
                margin-right: 10px;
            }

        }
    }

    &.kip-is-active {
        background-color: lighten($kip-darkblue, 60%);
        a {
            text-decoration: underline;
        }
    }

    &:hover {
        background-color: $kip-darkblue;
        a {
            color: #fff;
        }
    }

    ul li.kip-nav-item a {
        padding-left:40px;
    }
}

aside.kip-menu-aside {

    font-weight: 200;
    margin-top: map-get($kip-space, sm);

    &.kip-mobile-only {
        @media(min-width: $kip-desktop){
            display: none;
        }
    }
}

p.kip-menu-label {
    padding-left: 1rem;
    margin-top: 1rem;
}

ul.kip-menu-list {
    font-size: 14px;
    font-weight: bold;

    &.kip-is-submenu-1 li {
        padding-left: map-get($kip-space, sm);
    }

    &.kip-is-submenu-2 li {
        padding-left: map-get($kip-space, sm)*2;
    }

    &.kip-is-submenu-3 li {
        padding-left: map-get($kip-space, sm)*3;
    }

    li {

        &.kip-is-header a {
            text-decoration: underline;
            font-weight: 800;
        }

        ul {
            margin: 0;
            padding-left: 0;
            border-left: 0;

        }
    }
}
