@import "../variables.scss";

$kip-sidebar-fixed-z: 29; // less than navbar-fixed-z (default: 30)
$kip-sidebar-width: 180px;

.kip-sidebar {
    padding-top: $kip-navbar-height * 1.2;
    color: #000;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 150ms ease-in-out;

    box-shadow: $kip-box-shadow;
    @include kip-gradient("to top");
    background-size: 100% 750px;
    background-repeat: repeat-x;
    background-color: $kip-blue;

    h1 {
        padding: 0 16px 16px 16px;
        width: 100%;
        font-size: 1.8rem;
        font-weight: bolder;
    }

    @media (max-width: $kip-desktop) {
        display: none;
        position: fixed;
        z-index: $kip-sidebar-fixed-z;
        height: 100%;
        overflow-y: auto;
        min-width: 100px;
        top: 0;
        right: 0;
        max-width: $kip-sidebar-width;

        &--active {
            display: block;
        }
    }

    @media (min-width: $kip-desktop) {
        width: $kip-sidebar-width;
        position: fixed;
        z-index: $kip-sidebar-fixed-z;
        top: 0;
        padding-top: $kip-navbar-height;
        overflow-y: auto;
        height: 100%;

        // Only collapse in the desktop version
        transition: width 150ms ease-in-out;

        &--collapsed:not(:hover) {
            width: 44px;
        }
    }
}
