@import "../variables.scss";

.kip-with-sidebar {
    display: flex;
    margin-top: $kip-navbar-height;

    &__sidebar {
        @media (min-width: $kip-desktop) {
            width: 46px;
        }
    }

    &__content {
        width: 100%;
        margin: 0;

        margin-top: map-get($kip-space, md);

        @media (min-width: $kip-desktop) {
            margin-left: 160px;
        }
    }
}
