@import "variables.scss";

.kip-action-config {
    p {
        margin-bottom: map-get($kip-space, md);
    }

    textarea.kip-is-invalid {
        border-color: #f00;
        background: #fdd;
    }
}


.kip ul.kip-validators {

    > li {
        display: inline-block;
        cursor: pointer;
        background: #eee;
        border: 1px solid #eee;
        border-radius: $kip-border-radius;
        padding: map-get($kip-space, xs);
        font-size: 12px;
        text-select: none;
        margin-right: map-get($kip-space, sm);

        &.kip-is-active {
            background: #efa;
            a {
                color: #000;
            }
        }
    }

    > li.kip-controls {
        border: none;
        background: none;
    }


}

.kip-form-config, .kip ul.kip-map-diff {

    width: 100%;

    .kip-add-field, .kip-add-validator {
        gap: map-get($kip-space, sm);
        flex-direction: row;
        display: flex;
    }

    > ul.kip-fields {

        &.kip-top-level {
            margin-left: -24px;
            margin-right: -24px;

            > li {
                padding-right: 24px;
            }
        }

        > li {

            padding: 4px;

            &:hover {
                > .kip-is-icon > * {
                    display: inherit;
                }
            }

            .kip-is-icon > * {
                display: none;
            }

            .kip-extra-content {
                display: block;
                width: 100%;
                margin: 4px;
                background: #fff;
                padding: map-get($kip-space, sm);
                box-shadow: $kip-box-shadow;

                h2.bulma-subtitle {
                    & > * {
                        display: none;
                    }

                    &:hover > * {
                        display: inline-block;
                    }
                }
            }

            &.kip-with-extra-content {

                background: repeating-linear-gradient(
                  45deg,
                  #fff,
                  #efe 10px,
                  #fff 10px,
                );
            }

        }
    }

    .kip-add-field {
        .bulma-button {
            margin-top: 8px;
            height: 44px;
        }        
    }
}