@import "variables.scss";

.kip ul.kip-slice-diff {

	font-size: 14px;
	list-style: square;

	li {
		margin-bottom: map-get($kip-space, sm);
	}
}

.kip ul.kip-search-results {
	list-style: disc;
	margin-left: map-get($kip-space, md);

	li {
		margin-bottom: map-get($kip-space, sm);
	}
}

.kip .kip-code-diff {
	line-height: 2.4;
	font-size: 16px;
	overflow: auto;
	white-space: pre;

	> * {
	    @include font-source-code-pro;
		white-space: pre;
	}

	div {
	    @include font-open-sans;
		white-space: normal;
	}

	span.kip-map-field, span.kip-field-and-validators {
		white-space: pre;
	}

	span.kip-field-and-validators:hover > span.kip-validator-list > span > ul.kip-validators-code > li.kip-new-validator 
	{
		display: inherit;
    }

    span.kip-from-to {
    	
    	border-radius: 4px;
    	padding: 0 map-get($kip-space, sm);

    	&.kip-unmodified {
	    	background: #afa;
    	}
    	&.kip-modified {
    		background: #ffa;
    	}
    	&.kip-added {
    		background: #aaf;
    	}
    	&.kip-removed {
    		background: #faa;
    	}
    }

    span.kip-key-props {

		a.kip-key-selected {
			font-weight: bolder;
			scroll-margin-top: 80px;
		}
    }

	ul.kip-validators-code {
		margin: 0 map-get($kip-space, sm);
		display: inline;

		&:before {
			content: "<";
		}

		&:after {
			content: ">";
		}

		li {
			display: inline;
			border-radius: 4px;
			margin-left: map-get($kip-space, sm);
			padding: 4px;
			background: #ddd;

			&:first-child {
				margin-left: 0;
			}

			a {
				color: #333;
				padding: 0;
				margin: 0;
				text-decoration: underline;
			}
		}

	    > li.kip-new-validator {
	    	display: none;
	    }

	}
}

.kip ul.kip-map-diff, .kip ul.kip-slice-diff {

	font-size: 16px;

	&.kip-top-level {
		border-radius: $kip-border-radius;
		box-shadow: $kip-box-shadow;
	}

	> li {
		border-bottom: 1px solid #ddd;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		background: #fff;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: left;
		flex: 1 1;

		&:last-child {
			border-bottom: none;
		}

		&.kip-header {
			background: #eee;
			font-weight: bolder;
			border-bottom: 2px solid #333;	
		}

		.kip-extra-content {
			border-top: 1px dashed #ddd;
			flex: 0 0 100%;
		}

		> span {
			margin-right: 4px;
			padding: 8px;
			display: inline-block;

			&.kip-key-props {
				border-right: 1px solid #aaa;
				flex-basis: 25%;
				flex-shrink: 0;
				flex-grow: 0;
				align-self: stretch;
				border-left-style: solid;
				border-left-color: #bbb;
				border-left-width: 0;

				> span {
					padding: 8px;
				}
			}

			&.kip-validator-list {
				border-right: 1px solid #aaa;
				flex-basis: 15%;				
				flex-shrink: 0;
				flex-grow: 0;
				align-self: stretch;
			}

			&.kip-value-map {
				flex-basis: 50%;
				flex-shrink: 0;
				flex-grow: 0;
				display: flex;
				flex-direction: row;
				justify-content: left;
				align-items: middle;
				flex: 1 1;

				.kip-from {
					border-right: 1px solid #aaa;
					overflow: hidden;
					text-overflow: ellipsis;
					flex-basis: 45%;
					flex-shrink: 0;
					flex-grow: 0;
				}

				.kip-to {
					flex-basis: 45%;
					flex-shrink: 0;
					flex-grow: 0;
					overflow: hidden;
					padding-left: 6px;
					text-overflow: ellipsis;
				}
			}

			&.kip-key {
				font-weight: 600;
			}

			&.kip-identical {
				background: #ffa;
			}

			&.kip-type {
				font-style: italic;
			}

			&.kip-arrow {
			}

			&.kip-to {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.kip-from {
				text-align: right;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}